#insertPoint {
  scrollbar-width: thin;
  height: calc(100vh - 350px);
  display: block;
  overflow-y: scroll;
}
#insertPoint::-webkit-scrollbar
{
  display: block;
  width: 6px;
  background-color: #404040;
}
#insertPoint::-webkit-scrollbar-thumb
{
  background-color: #569cd6;
}
