*.pyc
config.py
config_hbjsons.py
*.csv
.DS_Store
*.log
log/*.json
!log/contacts_fr_dept.json
/*.json
logo/*.*
*.bak
templates/tginfo.html
images/nabilla.png
html/subscribers.html



