<div id="infoLine">
	This is an info line
</div>

<marquee id="marquee" direction="left" behavior="scroll" scrollamount="6">Your own marquee</marquee>

<br>
<a target='_self' href="index.html"><div class="button noiconbutton">Home</div></a>

<div class="dropdown">
	<div class="button noiconbutton">HB' Server</div>
    <div class="dropdown-content">
        <a target="_blank" href="index.html">Monitor</a>
    </div>
</div>

<div class="dropdown">
    <div class="button noiconbutton">Hotspot</div>
    <div class="dropdown-content">
        <a target="_blank" href="http://pi-star.local/">pi-star</a>
    </div>
</div>

<a target="_self" href="ccs7manager.html"><div class="button noiconbutton">CCS7Mgr</div></a>
<a target='_blank' Onclick="javascript:window.location.reload(false);"><div class="button iconbutton">↻ Refresh</div></a>
<a target='_self' href="bridges.html"><div class="button noiconbutton">Bridges</div></a>
<a target="_self" href="loglast.html"><div class="button noiconbutton">Log+ Conf</div></a>
<a target="_self" href="map.html"><div class="button noiconbutton">QSO'Map</div></a>

<div class="dropdown">
    <div class="button noiconbutton">Mode</div>
    <div class="dropdown-content">
        <a target="_blank" onclick="javascript:document.documentElement.className = 'theme-dark';">Dark</a>
        <a target="_blank" onclick="javascript:document.documentElement.className = 'theme-light';">Light</a>
        <a target="_blank" onclick="javascript:themeSettings='auto';adjustTheme()">Auto</a>
    </div>
</div>

<a target="_blank" onclick="javascript:saveSettings()"><div class="button noiconbutton">Save</div></a>
